<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717803274245-umlti4rnd1qc71ppg3ikltotse480jro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717803274245-umlti4rnd1qc71ppg3ikltotse480jro</string>
	<key>API_KEY</key>
	<string>AIzaSyCtotvtBbV1YibibwDsmRr8yKjE6S-C1I4</string>
	<key>GCM_SENDER_ID</key>
	<string>717803274245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thalswystr.sportking</string>
	<key>PROJECT_ID</key>
	<string>sportking-24076</string>
	<key>STORAGE_BUCKET</key>
	<string>sportking-24076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717803274245:ios:f71a421b98c1444ebedc6c</string>
</dict>
</plist>